html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f1f3f4;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}